

<mat-toolbar color="primary">

  <span class="title">Registration - Login </span>

 <div class="ms-auto">
    <button type="submit" mat-raised-button color="accent" routerLink="/login" class="me-5">Login</button>
    <button type="submit" mat-raised-button color="accent" routerLink="/ragistration">Sign Up</button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>

<!--
<div class="loader-wrap">
  <div class="bottle-wrap">
      <div class="cap">
          <i><mat-icon>school</mat-icon></i>
          <i><mat-icon>school</mat-icon></i>
          <i><mat-icon>school</mat-icon></i>
          <i><mat-icon>school</mat-icon></i>
      </div>
      <div class="bottle">
          <mat-icon>perm_identity</mat-icon>
      </div>
      <div class="bottle">
          <mat-icon>perm_identity</mat-icon>
      </div>
      <div class="bottle">
          <mat-icon>perm_identity</mat-icon>
      </div>
      <div class="bottle">
          <mat-icon>perm_identity</mat-icon>
      </div>
  </div>
  <div class="bar">
    <div class="progressbar-section">
      <mat-slider min="0" max="100" step="2" showTickMarks discrete [displayWith]="formatLabel">
        <input matSliderThumb [(ngModel)]="value">
      </mat-slider>
    </div>
  </div>
  <div class="text">loading</div>
</div> -->
